
<!-- Uses a parameter called jsonpath that points to the filename of the json file  -->


<script type="text/javascript">

  var labels;
  var values;
  $.getJSON( {{ .jsonpath }} , function (data) {
    labels = Object.keys(data);
    values = Object.values(data);
  });

  var ctx = document.getElementById("chart").getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'horizontalBar',
      data: {
          labels: labels,
          datasets: [{
              label: 'Volume vs Percent',
              data: values
          }]
      },
      options: {
          scales: {
              xAxes: [{
                  ticks: {
                      beginAtZero:true
                  }
              }]
          }
      }
  });
</script>
